section
  .section-partners.bg-default
    // Owl Carousel
    .owl-carousel.partners-carousel(
      data-items='2',
      data-xs-items="3",
      data-sm-items="4",
      data-md-items="5",
      data-lg-items="6",
      data-xl-items="9",
      data-xxl-items="11",
      data-stage-padding='15',
      data-loop='true',
      data-margin='30',
      data-autoplay='true',
      data-owl= {
        dots: true,
        nav: true
      }
    )
      a(href="#"): +img('partners-1-146x69')
      a(href="#"): +img('partners-2-131x70')
      a(href="#"): +img('partners-3-163x68')
      a(href="#"): +img('partners-4-145x80')
      a(href="#"): +img('partners-5-123x78')
      a(href="#"): +img('partners-6-124x90')
      a(href="#"): +img('partners-7-134x77')
      a(href="#"): +img('partners-8-101x77')
      a(href="#"): +img('partners-9-129x54')
      a(href="#"): +img('partners-10-157x76')
      a(href="#"): +img('partners-11-137x72')
='\n'